@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

@keyframes vex-fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
	.vex{ font-family: 'Open Sans', sans-serif;}
/* Infobar */
.vex-theme-bottom-right-corner .vex-dialog-message {
	font-size: 1em;
}
/* Place above statusbar */
.vex.vex-theme-bottom-right-corner .vex-content {
	bottom: 40px !important;
	right: 10px !important;
}

/* Vex dialogs */
.vex-open .vex-overlay {
	/* TODO: remove specific z-index from our codebase
	so that the following line can also be removed */
	z-index: 2000;
	background-color:#000000d1;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	top: 0px;
}
/* dialog shown when user is idle */
.vex-open .loleaflet-user-idle {
	background: #ffffffe0 !important;
	font-size: xx-large !important;
	color: #7a8592 !important;
	text-align: center !important;
}
.vex-open .loleaflet-user-idle .vex-dialog-buttons {
	display: none !important;
}

.vex.vex-theme-plain, .vex.vex-theme-bottom-right-corner{
	z-index: 2001 !important;
}

.vex.vex-theme-plain .vex-content{
	border: 1px solid #a4a4a4;
	box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}
.vex.vex-theme-plain .vex-content{    
	
    overflow-y: auto;
	max-width: 900px;
	font-family: 'Open Sans', sans-serif;
}

.vex-closing {
	-webkit-animation: vex-fadeout .25s forwards;
	animation: vex-fadeout .25s forwards;
}
.vex.vex-theme-plain .vex-dialog-form .vex-dialog-input select, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input textarea, .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="date"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="datetime"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="datetime-local"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="email"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="month"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="number"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="password"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="search"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="tel"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="text"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="time"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="url"], .vex.vex-theme-plain .vex-dialog-form .vex-dialog-input input[type="week"]{
	width: 95% !important;
}

.vex {
	position: fixed;
	overflow: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.vex.vex-theme-plain .vex-content div#online-help {
    height: calc(100vh - 330px);
}
.vex.vex-theme-plain .vex-content div#online-help .toc-h3 {
    border: 1px solid #deeff7;
    padding: 8px 5px 8px 10px;
    margin: -1px 0 0;
    border-width: 1px 1px 1px;
}
.vex.vex-theme-plain .vex-content div#online-help .toc-h3 button {
    color: #0071bc;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: 500;
    padding-left: 0px !important;
    list-style: circle;
}
.vex.vex-theme-plain .vex-content div#online-help p.toc-h2 button {
    color: #0071bc;
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: 500;
    padding-left: 0px !important;
    list-style: circle;
    -webkit-text-stroke: thin;
}
.vex.vex-theme-plain .vex-content div#online-help p.toc-h2 {
    border: 1px solid #deeff7;
    padding: 8px 5px 8px 10px;
    margin: -1px 0 0;
    border-width: 1px 1px 1px;
    background-color: #e9f8ff;
}

.vex.vex-theme-plain .vex-content div#online-help p {
    font-size: 16px;
    line-height: 26px;
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
}
.vex.vex-theme-plain .vex-content div#online-help p.toc-h2 button {
    color: #0071bc;
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: 500;
    padding-left: 0px !important;
    list-style: circle;
    -webkit-text-stroke: thin;
}
.vex.vex-theme-plain .vex-content div#online-help a>ul>li>p {
    margin-left: 0px;
}
.vex.vex-theme-plain .vex-content div#online-help .screenshot img {
    max-width: 700px;
}

.vex.vex-theme-plain .vex-content div#keyboard-shortcuts {
    height: calc(100vh - 330px);
}

.vex.vex-theme-plain .vex-dialog-form .vex-dialog-message {
    font-size: 16px;
}
.vex.vex-theme-plain .vex-content div#online-help>h1 {
    margin: 0 0 40px;
    font-size: 32px;
}

.vex.vex-theme-plain .vex-content div#online-help a>h3 {
    color: #0071bc;
}

.vex.vex-theme-plain .vex-content div#online-help a>h4 {
    color: #0089ca;
    font-size: 18px;
    font-weight: 400;
    padding: 0 0px 0 20px;
    margin: 0;
}